@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 2rem 2rem;
}

.header {
  background: url(../images/bg-hero-mobile.svg);
  background-position: top top;
  .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    img {
      width: 30%;
      max-width: 20rem;
    }
  }

  &-content {
    .intro {
      margin-bottom: 2.5rem;

      .title {
        line-height: 1.2;
      }
    }

    img {
      width: 80%;
    }
  }

  @media (min-width: 750px) {
    background: url(../images/bg-hero-desktop.svg);
    background-position: top top;

    .header-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .intro {
        width: 50%;
      }
    }
  }
}

.container {
  padding: 2em 1.5em;
  // max-width: 85rem;
  // margin: 0 auto;
}

// Sections work
.section {
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 3px rgba(#000, 0.1);

  p {
    color: hsl(208, 11%, 55%);
  }

  @media (min-width: 750px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 6em;

    img {
      width: 50%;
    }

    .section-description {
      width: 50%;
      margin-left: 5em;
    }

    .grow-together {
      .section-description {
        order: -1;
      }
      img {
        order: 2;
      }
    }
  }
}

//special margin-bottom on your-users section

.your-users {
  margin-bottom: 5em;
}

//Footer Work

footer {
  background: hsl(192, 100%, 9%);
  color: #fff;
  text-align: left;
  padding-top: 8em;

  & > * {
    padding: 1em 2em;
  }

  .info {
    // margin-top: 10em;
  }

  img {
    margin-bottom: 1em;
  }

  .info-flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;

    p {
      margin: 0;
      margin-left: 1em;
    }
  }

  ul {
    list-style: none;

    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin-bottom: 1.5em;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .social-icons {
    display: flex;
    justify-content: center;
    i {
      border: 1px solid #fff;
      padding: 0.5em 0.5em;
      margin-left: 0.5em;
      border-radius: 50%;

      &:hover {
        color: hsl(322, 100%, 66%);
        border-color: hsl(322, 100%, 66%);
      }
    }
  }

  @media (min-width: 750px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .social-icons {
      align-self: start;
    }
  }
}

// Collapsing box-section

.box-section {
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: -12rem;
  position: relative;
  z-index: 2;
  background: #fff;

  @media (min-width: 750px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subtitle {
      margin-bottom: 2em;
    }
  }
}

// Buttons are declared here

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 1.5em;
  border-radius: 100px;
  font-family: "Poppins";
  color: #000;

  &:hover,
  &:focus {
    filter: brightness(110%);
  }
}

.btn-white {
  background: #fff;
  box-shadow: 1px 1px 5px 3px rgba(#000, 0.1);
}

.btn-pink {
  padding: 0.75em 1.5em;
  background: hsl(322, 100%, 66%);
  color: #fff;
}
